.pagi {
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 1200px;
    margin: 20px auto;

    >ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        >li {
            width: 22%;
            margin: 0 0 20px 20px;
            border: 1px solid #333;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 300px;
            flex-direction: column;

            >img {
                width: 153px;
                height: 206px;
                display: block;
            }

            >p {
                font-size: 30px;
            }
        }
    }
}

.sort {
    width: 100px;
    height: 40px;
    font-size: 30px;
    position: fixed;
    top: 30px;
    left: 30px;
}


/*---------------------*/
.span16 {
    // width: 976px;
    // float: left;
    // margin-left: 14px;
    // min-height: 1px;
    width: 1100px;
    margin: 30px auto;
   

    .brick-list {
        width: 992px;
        height: 614px;
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin: 0 0 -14px -14px;

        .brick-item {
            position: relative;
            z-index: 1;
            float: left;
            width: 227px;
            margin-left: 14px;
            margin-bottom: 14px;
            background: #fff;
            -webkit-transition: all .2s linear;
            transition: all .2s linear;
        }

        .brick-item-m {
            height: 246px;
            padding: 34px 0 20px;

            .title {
                text-align: center;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                margin: 0 10px;
                font-size: 14px;
                font-weight: 400;
                color: #333;
            }

            .desc {
                margin: 0 10px 10px;
                height: 18px;
                font-size: 12px;
                color: #b0b0b0;
                text-align: center;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .price {
                margin: 0 10px 10px;
                text-align: center;
                color: #ff6700;
            }

        }

        .brick-item-m-2 {
            height: 300px;
            padding: 20px 0;
            background: #fff;
            left: 10px;

            .title {
                margin: 0 10px 2px;
            }

            .price {
                margin: 0 10px 14px;
            }
        }

        .figure-img {
            width: 150px;
            height: 150px;
            margin: 0 auto 18px;

            img {
                width: 160px;
                height: 160px;
            }
        }
    }
}