@charset "UTF-8";
header {
  width: 100%;
}

header .container {
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
}

header .site-topbar {
  position: relative;
  z-index: 30;
  height: 40px;
  font-size: 12px;
  color: #b0b0b0;
  background: #333;
}

header .site-topbar .topbar-nav {
  float: left;
  height: 40px;
  line-height: 40px;
}

header .site-topbar a {
  color: #b0b0b0;
  line-height: 40px;
  display: inline-block;
  text-decoration: none;
}

header .site-topbar .sep {
  margin: 0 .3em;
  color: #424242;
  font-family: sans-serif;
}

header .site-topbar .topbar-info {
  position: relative;
  float: right;
  height: 40px;
  line-height: 40px;
}

header .site-topbar .topbar-cart {
  position: relative;
  float: right;
  width: 120px;
  height: 40px;
  margin-left: 15px;
  -webkit-transition: all .2s;
  transition: all .2s;
  font-size: 12px;
}

header .site-topbar .topbar-cart .cart-mini {
  position: relative;
  z-index: 32;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #b0b0b0;
  background: #424242;
  right: 0;
}

header .site-topbar .topbar-cart .cart-mini em {
  margin-right: 4px;
  font-size: 14px;
  line-height: 20px;
  vertical-align: -1px;
  font-style: normal;
}

header .site-header {
  z-index: 20;
  height: 100px;
}

header .site-header .container {
  position: relative;
}

header .site-header .header-logo {
  float: left;
  width: 62px;
  margin-top: 22px;
}

header .site-header .logo {
  position: relative;
  display: block;
  width: 55px;
  height: 55px;
  overflow: hidden;
  background-color: #ff6700;
  background: url(../images/logo-footer.png) no-repeat 50% 50%;
}

header .site-header .header-nav {
  float: left;
  width: 850px;
}

header .site-header .nav-list {
  position: relative;
  z-index: 10;
  float: left;
  width: 1100px;
  height: 88px;
  margin: 0;
  padding: 12px 0 0 30px;
  list-style-type: none;
  font-size: 16px;
}

header .site-header .nav-category {
  position: relative;
  float: left;
  width: 127px;
  padding-right: 15px;
}

header .site-header .nav-category .link-category {
  display: block;
  padding: 26px 0 38px;
  text-align: right;
  color: #333;
}

header .site-header .nav-item {
  float: left;
}

header .site-header .nav-item .link {
  display: block;
  padding: 26px 10px 38px;
  *padding: 26px 8px 38px;
  color: #333;
  -webkit-transition: color .2s;
  transition: color .2s;
}

header .site-header .header-search {
  float: right;
  width: 296px;
  margin-top: -66px;
}

header .site-header .search-form {
  position: relative;
  width: 296px;
  height: 50px;
  z-index: 20;
}

header .site-header .search-btn {
  position: absolute;
  right: 0;
  z-index: 2;
  width: 52px;
  height: 48px;
  font-size: 24px;
  line-height: 24px;
  background: #fff;
  color: #616161;
}

header .site-header .search-text {
  position: absolute;
  top: 0;
  border: 1px solid #e0e0e0;
  outline: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

header .site-header .search-text {
  right: 51px;
  z-index: 1;
  width: 223px;
  height: 48px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 48px;
}

.home-main {
  padding-top: 4px;
  padding-bottom: 12px;
}

.page-main {
  width: 100%;
  background: #f5f5f5;
}

main {
  /*------*/
  /*------*/
  /*------*/
  /*------*/
}

main .container {
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
}

main .home-hero-container {
  position: relative;
  z-index: 10;
}

main .home-hero {
  position: relative;
  margin-bottom: 26px;
}

main .home-hero-swiper {
  position: relative;
  height: 460px;
  overflow: hidden;
}

main .site-category {
  display: none;
  position: absolute;
  z-index: 21;
  width: 234px;
  height: 460px;
  font-size: 14px;
}

main .site-category-list {
  height: 418px;
  margin: 0;
  padding: 20px 0;
  list-style-type: none;
  border: 1px solid #ff6700;
  color: #424242;
  background: #fff;
  z-index: 9999 !important;
}

main .site-category-list .title {
  position: relative;
  display: block;
  padding-left: 30px;
  height: 42px;
  line-height: 42px;
  color: #fff;
}

main .site-category-list em[class*=iconfont] {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 16px;
  line-height: 16px;
  color: #e0e0e0;
}

main .site-category-list-custom {
  height: 460px;
  border: 0;
  color: #fff;
  background: rgba(105, 101, 101, 0.6);
}

main .banner {
  display: flex;
  width: 100%;
  height: 460px;
  justify-content: space-between;
}

main .banner .slideshow {
  width: 100%;
  height: 100%;
  background: brown;
  border-radius: 2px;
  /*图片的样式*/
  /*焦点样式*/
  /*左右按钮样式*/
}

main .banner .slideshow * {
  margin: 0;
  padding: 0;
}

main .banner .slideshow li {
  list-style: none;
}

main .banner .slideshow #box {
  width: 100%;
  height: 100%;
  background: #d8d8d8;
  position: relative;
  overflow: hidden;
}

main .banner .slideshow .posibtn:hover p {
  opacity: 1;
  transition: all 1s;
}

main .banner .slideshow .imglist {
  width: 100%;
  height: 100%;
}

main .banner .slideshow .imglist li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 300px;
  font-size: 40px;
  color: red;
}

main .banner .slideshow .imglist li img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 1s;
}

main .banner .slideshow img:hover {
  transition: all 1s;
  transform: scale(1.2);
}

main .banner .slideshow .imglist li:nth-child(1) {
  background: #0088CC;
}

main .banner .slideshow .imglist li:nth-child(2) {
  background: lemonchiffon;
}

main .banner .slideshow .imglist li:nth-child(3) {
  background: lavenderblush;
}

main .banner .slideshow .imglist li:nth-child(4) {
  background: lightcoral;
}

main .banner .slideshow .imglist li:nth-child(5) {
  background: lightcyan;
}

main .banner .slideshow .imglist li:nth-child(6) {
  background: lightgreen;
}

main .banner .slideshow .light {
  width: 100%;
  height: 20px;
  position: absolute;
  left: 0;
  bottom: 10px;
  /*background: #ccc;*/
  text-align: center;
}

main .banner .slideshow .light span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  /*让焦点的文字消失的方法*/
  /*text-indent: -9999px;
          overflow: hidden;*/
}

main .banner .slideshow .light span.active {
  background: rgba(209, 74, 74, 0.6);
}

main .banner .slideshow .light span.liang {
  background: lightcoral;
}

main .banner .slideshow .posibtn {
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -25px;
}

main .banner .slideshow .prev {
  left: 235px !important;
}

main .banner .slideshow .posibtn p {
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 0;
  font-size: 50px;
  color: #fff;
  text-align: center;
  line-height: 46px;
  font-weight: 100;
  opacity: 0;
}

main .banner .slideshow .posibtn p::selection {
  background: transparent;
}

main .banner .slideshow .posibtn p:nth-child(1) {
  left: 8px;
}

main .banner .slideshow .posibtn p:nth-child(2) {
  right: 8px;
}

main .banner .banner-list {
  display: flex;
  width: 180px;
  height: 100%;
  border-radius: 2px;
  flex-direction: column;
  justify-content: space-between;
}

main .banner .banner-list li {
  position: relative;
  width: 100%;
  height: 100px;
  border-radius: 2px;
  overflow: hidden;
}

main .banner .banner-list li a img {
  width: 180px;
  height: 100px;
  overflow: hidden;
  transition: all 1s;
}

main .banner .banner-list li a img:hover {
  transform: scale(1.2);
  transition: all 1s;
}

main .banner .banner-list li span {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 26px;
  padding: 0 10px;
  line-height: 26px;
  color: #fff;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

main .home-brick-box {
  margin-bottom: 8px;
}

main .box-hd {
  position: relative;
  height: 58px;
  -webkit-font-smoothing: antialiased;
  /*----------*/
  /*----------*/
}

main .box-hd .title {
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}

main .box-hd .phone {
  position: absolute;
  top: 0;
  right: 160px;
}

main .box-hd .phone .phone-link {
  font-size: 18px;
  line-height: 58px;
  color: #424242;
  -webkit-transition: all .4s;
  transition: all .4s;
}

main .box-hd .phone-link:hover {
  color: goldenrod;
}

main .box-hd .home {
  position: absolute;
  top: 0;
  right: 110px;
}

main .box-hd .home .home-link {
  font-size: 18px;
  line-height: 58px;
  color: #424242;
  -webkit-transition: all .4s;
  transition: all .4s;
}

main .box-hd .home-link:hover {
  color: goldenrod;
}

main .box-hd .more {
  position: absolute;
  top: 0;
  right: 0;
}

main .box-hd .more .more-link {
  font-size: 18px;
  line-height: 58px;
  color: #424242;
  -webkit-transition: all .4s;
  transition: all .4s;
}

main .box-hd .more .more-link .iconfont {
  width: 12px;
  height: 12px;
  padding: 4px;
  margin-left: 8px;
  border-radius: 16px;
  font-size: 12px;
  line-height: 12px;
  background: #b0b0b0;
  color: #fff;
  vertical-align: 1px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

main .row {
  margin-left: -14px;
}

main .span4 {
  width: 234px;
  float: left;
  min-height: 1px;
}

main .span4 .brick-promo-list {
  margin: 0 0 -14px -14px;
  height: 614px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

main .span4 .brick-promo-list .brick-item-1 {
  height: 614px;
}

main .span4 .brick-promo-list .brick-item-1 a {
  display: block;
  width: 100%;
  height: 100%;
}

main .span4 .brick-promo-list img {
  width: 234px;
  height: 614px;
}

main .brick-item {
  position: relative;
  z-index: 1;
  float: left;
  width: 234px;
  margin-left: 14px;
  margin-bottom: 14px;
  background: #fff;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

main .span16 {
  width: 976px;
  float: left;
  margin-left: 14px;
  min-height: 1px;
}

main .span16 .brick-list {
  width: 992px;
  height: 614px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin: 0 0 -14px -14px;
}

main .span16 .brick-list .brick-item {
  position: relative;
  z-index: 1;
  float: left;
  width: 227px;
  margin-left: 14px;
  margin-bottom: 14px;
  background: #fff;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

main .span16 .brick-list .brick-item-m {
  height: 246px;
  padding: 34px 0 20px;
}

main .span16 .brick-list .brick-item-m .title {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 10px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

main .span16 .brick-list .brick-item-m .desc {
  margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  color: #b0b0b0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

main .span16 .brick-list .brick-item-m .price {
  margin: 0 10px 10px;
  text-align: center;
  color: #ff6700;
}

main .span16 .brick-list .brick-item-m-2 {
  height: 300px;
  padding: 20px 0;
  background: #fff;
  left: 10px;
}

main .span16 .brick-list .brick-item-m-2 .title {
  margin: 0 10px 2px;
}

main .span16 .brick-list .brick-item-m-2 .price {
  margin: 0 10px 14px;
}

main .span16 .brick-list .figure-img {
  width: 150px;
  height: 150px;
  margin: 0 auto 18px;
}

main .span16 .brick-list .figure-img img {
  width: 160px;
  height: 160px;
}

footer .container {
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
}

footer .footer-service {
  padding: 27px 0;
  border-bottom: 1px solid #e0e0e0;
}

footer .footer-service .list-service {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer .footer-service .list-service li:first-child {
  border-left: 0;
}

footer .footer-service .list-service li {
  float: left;
  width: 19.8%;
  height: 25px;
  border-left: 1px solid #e0e0e0;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}

footer .footer-service .list-service em[class*=iconfont] {
  margin-right: 6px;
  font-size: 24px;
  line-height: 24px;
  vertical-align: -4px;
}

footer .footer-links {
  padding: 40px 0;
}

footer .footer-links .col-links {
  float: left;
  width: 156px;
  height: 112px;
  margin: 0;
}

footer .footer-links .col-links dt {
  margin: -1px 0 26px;
  font-size: 14px;
  line-height: 1.25;
  color: #424242;
}

footer .footer-links .col-links dd {
  margin: 10px 0 0;
  font-size: 12px;
}

footer .footer-links .col-links dd a {
  color: #757575;
}

footer .footer-links .col-contact {
  float: right;
  width: 251px;
  height: 112px;
  border-left: 1px solid #e0e0e0;
  text-align: center;
  color: #616161;
}

footer .footer-links .col-contact .phone {
  margin: 0 0 5px;
  font-size: 22px;
  line-height: 1;
  color: #ff6700;
}

footer .footer-links .col-contact p {
  margin: 0 0 16px;
  font-size: 12px;
}

footer .footer-links .col-contact .btn-line-primary {
  border-color: #ff6700;
  background: #fff;
  color: #ff6700;
}

footer .footer-links .col-contact .btn-small {
  width: 118px;
  height: 28px;
  font-size: 12px;
  line-height: 28px;
}

footer .footer-links .col-contact .btn {
  display: inline-block;
  width: 158px;
  height: 38px;
  padding: 0;
  margin: 0;
  border: 1px solid #b0b0b0;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  color: #b0b0b0;
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
}
